body {
  background-color: black;
}

.page {
  background-color: black;
  color: #fff;
  margin: auto;
  padding: auto;
}

@media screen and (min-width: 320px) and (max-width: 768px) {
  .page {
    min-width: 320px;
    max-width: 768px;
    overflow-x: hidden;
  }
}
