.gallery {
  max-width: 1280px;
  display: grid;
  width: 895px;
  height: 743px;
  position: relative;
  grid-template-columns: repeat(3, 282px);
  grid-template-rows: repeat(2, 361px);
  gap: 24px;
  margin-top: 50px;
  overflow: hidden;
}

.newcards {
  display: flex;
  flex-wrap: wrap;
  height: 361px;
  width: 282px;
  /*gap: 16px;*/
}

.newcards:empty {
  display: none;
}

.gallery__photos {
  width: 282px;
  position: relative;
  overflow: hidden;
  background-color: white;
  border-radius: 10px;
}

.gallery__photo-card {
  width: 100%;
  height: 250px;
  margin: auto;
  object-fit: cover;
}

.gallery__photos-name {
  color: #000;
  font-family: "Inter-Black", sans-serif;
  background-color: #fff;
  padding: 20px;
  margin: 0;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  justify-content: space-between;
}

.gallery__trash {
  background: none;
  background-image: url(../images/Borrar.png);
  background-repeat: no-repeat;
  background-position: center;
  top: 10px;
  right: 15px;
  width: 19px;
  height: 19px;
  border: none;
  position: absolute;
  cursor: pointer;
}

.gallery__trash:hover {
  background-color: #646363;
}

.gallery__photo-like {
  background: none;
  background-image: url(../images/corazon.jpg);
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center;
  background-size: cover;
  width: 21px;
  height: 19px;
  border: none;
  cursor: pointer;
  margin: 0 0 0 250px;
}

.gallery__photo-liked {
  background-image: url(../images/corazon.jpg);
}
.gallery__photo-text {
  color: #000;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  size: 24px;
  text-overflow: ellipsis;
  width: 70%;
  margin-bottom: 0;
}

.gallery__photo-like:hover {
  color: rgb(70, 73, 73);
  border: 1px solid #746f6f;
}

.gallery__like_active {
  background-image: url(/web_project_around/images/corazon-negro.png);
  background-color: white;
}
/*
@media screen and (max-width: 584px) and (max-width: 1280px) {
  .gallery {
    max-width: 1280px;
  }
}
*/
@media screen and (min-width: 320px) and (max-width: 584px) {
  .gallery {
    max-width: 290px;
    margin: auto;
    grid-template-columns: repeat(1, 1fr);
    gap: 21px 17px;
    justify-content: center;
    padding-top: 36px;
  }

  .gallery__photo-card {
    width: 100%;
  }
}

@media screen and (min-width: 585px) and (max-width: 1280px) {
  .gallery {
    max-width: 730px;
    grid-template-columns: repeat(2, 282px);
    gap: 21px 17px;
    justify-content: center;
    padding-top: 36px;
    width: 90%;
  }

  .gallery__photo-card {
    width: 100%;
  }
}
