.popup {
  position: fixed;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  align-items: center;
  max-width: 880px;
  margin: auto;
  top: 0;
  z-index: 1;
  color: #5e5d5d;
  visibility: hidden;
  opacity: 0;
}

.popup_open {
  visibility: visible;
  opacity: 1;
}

.popup__form-add {
  width: 430px;
  margin-bottom: 36px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.popup-img_opened {
  display: flex;
}

.popup-img {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: none;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 10;
}

.popup-img img {
  max-width: 90%;
  max-height: 90%;
  border-radius: 8px;
}

.popup-img.popup-img_opened {
  display: flex;
}

.popup-img__content {
  position: relative;
  margin: auto;
  max-width: 90%;
  max-height: 90%;
}
.popup-img__image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.popup-img__close {
  position: absolute;
  background: none;
  background-image: url(/images/Close\ Icon.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
  width: 40px;
  height: 40px;
  margin-bottom: 350px;
  top: -40px;
  right: -40px;
  cursor: pointer;
}

.popup__place-title {
  font-family: "Inter-Black", sans-serif;
  font-size: 24px;
  line-height: 100%;
  margin-right: 225px;
  margin-top: 34px;
  margin-bottom: 54px;
}

.popup__place-name {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  max-width: 358px;
  width: 100%;
  border: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

.popup__place-job {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  max-width: 358px;
  width: 100%;
  border: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

.popup__place-name:invalid,
.popup__place-job:invalid {
  border: 2px solid red;
  outline: none;
}

.popup__place {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  max-width: 358px;
  width: 100%;
  border: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

.popup__link-photo {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 14px;
  max-width: 358px;
  width: 100%;
  border: 0;
  margin-bottom: 30px;
  border-bottom: 1px solid #000;
}

input::placeholder {
  color: #000000;
}

.popup__create_disabled {
  background-color: #f7f3f3;
  color: #aaa;
  cursor: not-allowed;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}

.popup__body {
  width: 100vw;
  display: block;
  justify-content: center;
}

.popup__image {
  justify-content: center;
  display: flex;
  width: 50vw;
  height: 80vh;
  padding-top: 55px;
  padding-left: 390px;
}

.popup__title {
  display: flex;
  align-items: flex-end;
  height: 30px;
  margin: 0;
  padding-left: 390px;
}

.popup__close-button {
  position: absolute;
  background: none;
  background-image: url(/web_project_around/images/Close\ Icon.png);
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: center;
  border: 1px solid #000000;
  display: flex;
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding-left: 2300px;
  border: none;
  margin: 25px;
}

@media screen and (min-width: 320px) and (max-width: 584px) {
  .popup__container {
    width: 282px;
    height: 322px;
    left: 10%;
  }

  .popup__title {
    width: 238px;
    height: 22px;
    font-size: 18px;
    margin: 25px 22px;
  }

  .popup__name {
    width: 238px;
    height: 26px;
  }

  .popup__job {
    width: 238px;
    height: 26px;
  }

  .popup__save {
    width: 238px;
    height: 46px;
  }

  .popup__close {
    right: 1%;
    top: -20%;
  }
}
